#player:fullscreen div {
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
    height: var(--controls-height);
    align-items: end !important;
}

#player:fullscreen #playerVid {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Do not put small control on phone */
@media screen and (min-width: 600px) {
    #player:fullscreen div button,
    #player:fullscreen div input,
    #player:fullscreen div input::-webkit-slider-thumb {
        display: none;
    }

    #player:fullscreen div:hover button,
    #player:fullscreen div:hover input,
    #player:fullscreen div:hover input::-webkit-slider-thumb {
        /* Shows button when hover */
        display: block;
    }

    #player:fullscreen div button:hover,
    #player:fullscreen div input:hover {
        background-color: var(--color-dark);
    }

    #player:fullscreen div:hover input,
    #player:fullscreen div:hover input::-webkit-slider-thumb {
        height: var(--controls-height);
    }

    :fullscreen #playerVid {
        max-height: 100vh;
    }
}