* {
    box-sizing: border-box;
    /* CSS HEX */
    --color-fg: #f6e8eaff;
    --color-bg: #22181cff;
    --color-red: #ef626cff;
    --color-theme: #84dccfff;
    --color-dark: #312f2fff;
}

/* ---------------------------------Elements--------------------------------- */


/* ----------------------------------Classes--------------------------------- */
a.btn, button {
    cursor: pointer;
    padding: 1rem;
    outline: none;
    border: 0px none transparent;
    background-color: var(--color-theme);
    text-decoration: none;
    font-size: 18px;
}
a.btn:hover, button:hover {
    background-color: var(--color-dark);
    color: var(--color-theme);
}

.redBg {
    background-color: var(--color-red);
    color: var(--color-bg);
}

/* ----------------------------------Layout---------------------------------- */
body {
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-fg);
    overflow-y: hidden;
}

main {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#player {
    background-color: black;
    width: 100%;
    display: none;
}

#playerVid {
    display: block;
    margin: auto;
    max-height: 50vh;
    width: 100%;
}

#playerAud {
    width: 100%;
}

#controls {
    display: flex;
}
#controls button {
    width: 100%;
}

#browse {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}

#browse > div {
    cursor: pointer;
    width: 10rem;
    margin: 0.25rem;
    padding: 0.25rem;
}
#browse > div:hover {
    color: var(--color-theme);
}

#browse > div img {
    max-width: 10rem;
    height: auto;
}